form{
    border:1px solid darkred;
}
.name-error{
    padding: 0.25rem 1rem;
    border: 1px solid #90222d;
    background-color: #fdd2d7;
    color: #58151c ;
    border-radius: 7px;
    margin: 7px;
}