.form-image{
    background: linear-gradient(to right, rgba(196, 196, 196, 0.2), rgba(114, 114, 114, 0.3)), url("../images/sign-up.jpg") center no-repeat;
    background-size: cover;
}
.error{
    padding: 0.25rem 1rem;
    border: 1px solid #99414a;
    background-color: #fdd2d7;
    color: #a32a36 ;
    border-radius: 5px;
    margin: 7px;
} 